---
---

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<link rel="stylesheet" href="/assets/css/core.css">
  	<meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0">
</head>
<body>
<div class="wrapper">
	
	<div class="mobile-menu" id="mobile-menu" >	{% include nav.html %}</div>

	<a class="front-site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
	<div class="info_column-1">
	  	<center><img src="assets/images/issue49/B_49.jpg" width=300 ></center>
	  	<article>Issue 49</article>
	  	<article><font size="1"><i>Change of Plans</i> &copy;2019 by Alyssa Surabian</font></article>
		<article>
			<hr>
			{% include paypal_subscription_form.html %}
			<hr class="mobile-menu">
		</article>
	  </div>

	  <div class="info_column-2">
	  	<article class="page" lang="en">
	    	<i>Borderlands: Texas Poetry Review</i> is a literary journal based in Austin, Texas that publishes poetry along with a visual art series, reviews and essays. 
	    	<hr> 
	  	</article>

	  	{% assign curDate = site.time | date: '%s' %}
		{% for event in site.events %}
    		{% assign postStartDate = event.event_date | date: '%s' %}
    		{% if postStartDate >= curDate %}
	  		<article class="page" lang="en">
	  			<h1 style="margin-top:1px;">{{ event.title }}</h1>
	  			<p>{{ event.event_date }}<br>
	  				{{ event.event_time }}<br>
	  				<a href="{{ event.location_url }}">{{ event.location }}</a>
	  			</p>
  				<p>{{ event.content | markdownify }}</p>
  				<hr style="margin-top:50px;">
  			</article>    		
  			{% endif %}
		{% endfor %}
	  	
	  	<article class="page" lang="en">    
	  	<h1 style="margin-top:1px;">Call for Entries</h1>
			<p><a href="/submissions"> Submit</a> your work for publication in the upcoming issue. Since its debut in 1992, Borderlands continues to receive wide critical acclaim and garners a national readership.</p>
		</article>
	  </div>



  <article class="page" lang="en">
    <hr>
    <center><a href="http://www.austintexas.gov/department/cultural-arts"><img src="assets/images/coa.jpg" align="center" style="max-width:200px;"></a>
    <p><i>Borderlands</i> is supported in part by the Cultural Arts Division of the City of Austin Economic Development Department.</p></center>  
    <hr>
  </article>

<div>{% include nav.html %}</div>
  
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% include mobile-menu.html color="#777777" width="757" %}
</body>

</html>