  <div style="text-align:center;">
  <ul class="navbar">
    <li class="navbar_item"><a class="navbar_link" href="/">Home</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/current_issue">Current Issue</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/about/">About</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/contact">Contact</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/subscriptions">Subscriptions</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/submissions">Submissions</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/calendar">Calendar</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/issues">Past&nbsp;Issues</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/webaudio">Audio</a></li>
    <li class="navbar_item"><a class="navbar_link" href="/links">Links</a></li>
  </ul>
</div>
